API_BASE_URL=
APP_DOMAIN=
DATABASE_URL=
GMAIL_APP_PASSWORD=
GMAIL_USER=
JWT_EXPIRES_IN=
JWT_SECRET=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=
MONGO_URI=
OLLAMA_MODEL=
OLLAMA_URL=
PORT=
PUBLIC_API_URL=
REDIS_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
WHISPER_URL=
WS_URL=
