port: 7880
rtc:
  use_external_ip: true
keys:
  __LIVEKIT_API_KEY__: __LIVEKIT_API_SECRET__
turn:
  enabled: true
  domain: __DOMAIN__
  tls_port: 5349
  external_tls: true
  cert_file: /etc/livekit-certs/fullchain.pem
  key_file: /etc/livekit-certs/privkey.pem
